@import "tailwindcss";

@source "./index.html";
@source "./pages/**/*.{html,js}";
@source "./src/**/*.{js,ts,jsx,tsx,html}";

@layer base {
  :root {
    /* Light mode */
    --color-primary: #2bce69;
    --color-secondary: #22c55e;
    --color-accent: #ecfdf5;

    --color-text: #1f2937;
    --color-text-muted: #4b5563;
  }

  .dark {
  --color-primary: #79dd9e;
  --color-secondary: #85e4a8;
  --color-accent: #022c22;

  /* brighter text for dark mode */
  --color-text: #f8fafc;
  --color-text-muted: #cbd5e1;
}

  body {
    background-color: var(--color-accent);
    color: var(--color-text);

    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  }

  p {
    color: var(--color-text-muted);
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-2 rounded-xl
           bg-[var(--color-primary)]
           text-white font-semibold
           hover:bg-[var(--color-secondary)]
           transition-colors
           focus:outline-none focus:ring-2
           focus:ring-[var(--color-secondary)];
  }

  .card {
  @apply rounded-2xl shadow-md p-6
         bg-white dark:bg-slate-900
         border border-green-100
         dark:border-slate-700;
  
  color: var(--color-text);
}

  .section-padding {
    @apply px-6 py-12 md:px-12 lg:px-24;
  }

  
  .community-card {
    @apply bg-white dark:bg-slate-900
           rounded-2xl p-6 shadow-md
           flex flex-col gap-3
           hover:-translate-y-1 hover:shadow-xl
           transition-all;
  }

  .community-image {
    @apply w-full h-44 object-cover rounded-xl;
  }

  .badge {
    @apply w-fit px-3 py-1 text-xs font-semibold rounded-full
           bg-green-100 text-green-800
           dark:bg-emerald-900 dark:text-green-200;
  }

  .card-title {
    @apply text-lg font-semibold;
    color: var(--color-text);
  }

  .card-text {
    @apply text-sm;
    color: var(--color-text-muted);
  }
}
